{% extends 'base.html' %}
{% load i18n audio_tags %}

{% block title %}{% trans 'Login' %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans 'Login' %}</h1>

<div class="card">
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {% include 'components/form_label_with_audio.html' with label_text="Username" slug="form_username" field_id="username" %}
            <input type="text" id="username" name="username" required aria-required="true" autofocus>
        </div>
        
        <div class="form-group">
            {% include 'components/form_label_with_audio.html' with label_text="Password" slug="form_password" field_id="password" %}
            <input type="password" id="password" name="password" required aria-required="true">
        </div>
        
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <button type="submit" class="btn btn-primary">{% trans 'Login' %}</button>
            {% audio_player_static_ui "button_login" "label" %}
        </div>
        <p>
            {% trans 'Don\'t have an account?' %}<br>
            <a href="{% url 'users:register_creator' %}">{% trans 'Register as Job Creator' %}</a> | 
            <a href="{% url 'users:register_doer' %}">{% trans 'Register as Job Doer' %}</a>
        </p>
    </form>
</div>
{% endblock %}
